.singleElement {
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  width: 110px;
  padding: 24px;
  background: #fff;
  cursor: grab;
}

.singleElement svg {
  width: 100%;
  margin-bottom: 8px;
}

.singleElement p {
  color: #3a6b88;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
