.mainBoard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 110px;
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
}

.boardWrapper {
  width: 100%;
  border-radius: 4px;
  background: #f6f6f6;
  padding: 16px 8px;
  margin-bottom: 24px;
}

.boardTitle {
  color: #3a6b88;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}

.boardSlot {
  border-radius: 2px;
  width: 100%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardSlot * {
  width: 100%;
  margin-bottom: 8px;
  background: #fff;
}

.boardPlaceholder {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 10;
  margin-bottom: 0;
}
