.sidebarBoard {
  background: #fafafa;
  height: 100vh;
  width: 27%;
  border-left: 1px solid #e9e9e9;
  padding: 30px 40px;
  overflow-y: auto;
}

.boardTitle {
  font-size: 18px;
  font-weight: 700;
  color: #3a6b88;
  margin-bottom: 30px;
}

.itemsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
